@import 'src/style/shared.scss';

.ResultsCard {
  .teamAssign {
    display: inline-block;
    margin: 10px;
  }

  .teamTag {
    margin: auto 175px;
    font-family: 'Rajdhani', sans-serif;
  }
}
.scroll {
  margin-top: 30px;
}

.error {
  margin-top: 50px;
  font-size: 36px;
}

.correct {
  background-color: rgba(76, 175, 80, 0.8);
}

.incorrect {
  background-color: #f44336;
}
