@import 'src/style/shared.scss';

.TeamCard {
  display: inline-block;

  .ui.card {
    background-color: rgba(255, 255, 255, 0.3);
    width: 300px;
  }

  .ui.card.active {
    background-color: rgba(25, 31, 51, 0.8);
    width: 300px;
  }

  .ui.card .content .header {
    color: $white;
    font-family: 'Rajdhani', sans-serif;
  }
  .ui.button {
    color: $white;
    background: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
  }
}
.teamSelected {
  border: 3px solid $white;
  border-radius: 0.28571429rem;
}
