@import 'src/style/shared.scss';

.Picks {
  display: flex;
  align-content: space-between;
  justify-content: center;

  .focus {
  }

  .MatchupCard {
    padding-top: 15px;
    margin: auto;
  }
  .Arrow {
    margin: auto;
  }
}
