@import 'src/style/shared.scss';

.ResultsTeamCard {
  display: inline-block;
  margin: 20px 8px;

  .ui.card {
    background-color: rgba(255, 255, 255, 0.3);
    width: 150px;
    height: 70px;
  }

  .ui.card .content .header {
    background: transparent;
    color: $white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
  }

  .points {
    left: 35%;
    bottom: 0;
    position: absolute;
    font-size: 9px;
  }

  @media screen and (min-width: 1024px) {
    .ui.card {
      background-color: rgba(255, 255, 255, 0.3);
      width: 400px;
      height: 90px;
    }

    .ui.card .content .header {
      background: transparent;
      color: $white;
      font-family: 'Rajdhani', sans-serif;
      font-size: 25px;
    }

    .points {
      position: static;
      font-size: 19px;
    }
  }
}
