@import 'src/style/shared.scss';
.MainTopNav {
  display: none;
}
.Landing {
  text-align: center;
  padding: px-to-rem(20) $navbar-padding-mobile;
  @media (min-width: $layout-large) {
    padding: px-to-rem(20) $navbar-padding-desktop;
  }

  .play-btn {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_%28September_2014%29.svg/1200px-Google_Chrome_icon_%28September_2014%29.svg.png)
      no-repeat;
    width: 180px; /* Width of new image */
    height: 236px; /* Height of new image */
    padding-left: 180px; /* Equal to width of new image */
  }

  &-header {
    background-color: $black;
    padding: px-to-rem(20);
    color: $white;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }

  &-resources {
    .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .resource {
        margin: px-to-rem(5);
        border: 1px solid $black;
        padding: px-to-rem(10);
        text-decoration: none;
      }
    }
  }
}
.login {
  background-color: white;
  font-family: sans-serif;
  width: 100px;
  margin: 8px auto;
}

.submit {
  margin: 5px;
}

.button {
  padding-bottom: 27px;
  // margin-bottom: 10px;
}
