@import 'src/style/shared.scss';

.MatchupCard {
  .ui.segment {
    margin-top: 150px;
  }

  .teamAssign {
    display: inline-block;
    margin: 10px;
  }

  .teamTag {
    font-family: 'Rajdhani', sans-serif;
  }

  .noData {
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    margin-top: 100px;
  }

  .carousel__indicators {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    li {
      &:nth-of-type(n + 2) {
        margin-left: 9px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .carousel__indicators {
      flex-direction: row;
    }
  }
}
