@import 'src/style/shared.scss';

.MatchupInfo {
  .ui.card {
    background-color: rgba(255, 255, 255, 0.3);
    width: 400px;
  }
  .ui.card.active {
    background-color: rgba(25, 31, 51, 0.8);
    width: 400px;
  }

  .ui.card .content .header {
    color: white;
    font-family: 'Rajdhani', sans-serif;
  }
  .ui.meta {
    color: $white;
    background: transparent;
  }
  .ui.celled.table {
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    // width: 250px;
  }

  .ui.table td {
    table-layout: fixed;
    background: transparent;
    column-width: 100px;
  }
  .ui.table th {
    color: white;
    font-weight: bold;
    background: transparent;
    column-width: 100px;
    column-gap: 0;
  }
}
