@import 'src/style/shared.scss';

.SubmitButton {
  margin-top: 50px;
}
.visible.content {
  width: 150px;
}

.hidden.content {
  color: $white;
}

.ui.animated.fade.button {
  font-size: 12px;
  color: white;
  background: transparent;
  border-radius: 30px;
  border: 1px solid $white;
}
