@import 'src/style/shared.scss';

.Results {
  .error {
    margin-top: 100px;
    font-family: 'Rajdhani', sans-serif;
  }

  .teamCard {
    height: 570px;
    overflow: auto;
    display: inline-block;
  }

  .headings {
    display: inline;
  }

  #away {
    display: inline-block;
    padding: 0 0 10px 175px;
    margin: 0;
  }
  #home {
    display: inline-block;
    padding: 0 175px 10px 0;
    margin: 0;
  }
}
